__pycache__/
.ipynb_checkpoints/
.vscode/
.venv/
env/
*.pyc

# Keep data folders, but ignore actual data files
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Keep models folder, but ignore saved model files
models/*
!models/.gitkeep

# Ignore common data and saved model files anywhere in the repository
*.csv
*.joblib
*.pkl

# System files
.DS_Store

